{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}post-template-default single single-post postid-7191531 single-format-standard{% endblock %}

{% block content %}
{% include "header.html" %}
<main>
    <section class="inline-image lazy page-banner"
        data-src="https://media.centrick.co.uk/app/uploads/2020/07/20115221/Stamp-duty-holiday-%E2%80%93-typical-buyer-in-the-Midlands-could-save-over-%C2%A32000-2200x865.jpg">
        <div class="container">
            <div class="page-banner__content">
                <div class='page-banner__single-info'><span class='page-banner__date'>{{ page.date }}</span><span
                        class='pipe'>&#124;</span><span>News</span><span
                        class='pipe'>&#124;</span><span>Sales</span><span class='pipe'>&#124;</span> </div>
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="overlay overlay--banner"></div>
    </section>
    <div class="container flex single--container container--single">

        <div class='single__content'>
            {{ page.intro|richtext }}
            {{ page.body|richtext }}
        </div>
        <aside class="sidebar">
            <div id="socialPopup" class="sidebar__block social-share a2a_kit a2a_kit_size_32 a2a_default_style">
                <i class="far fa-times-circle social-close"></i>
                <h6 class="sidebar__title">Share This</h6>
                <div class="a2a_kit a2a_default_style">
                    <a class="a2a_button_facebook"><i class="fab fa-facebook"></i></a>
                    <a class="a2a_button_twitter"><i class="fab fa-twitter"></i></a>
                    <a class="a2a_button_linkedin"><i class="fab fa-linkedin"></i></a>
                    <a class="a2a_dd" href="https://www.addtoany.com/share"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>

            <div class='sidebar__block latest-articles'>
                <h6 class='sidebar__title'>Latest Articles</h6>
                <div class='latest-articles__post-links'><a
                        href="../first-impressions-count-10-ways-to-get-your-home-ready-for-viewings/index.html">First
                        impressions count: 10 ways to get your home ready for viewings</a><a
                        href="../9-things-you-can-do-in-a-weekend-to-improve-the-appeal-of-your-home/index.html">9
                        things you can do in a weekend to improve the appeal of your home</a><a
                        href="../which-bills-are-you-responsible-for-as-a-tenant/index.html">Which bills are you
                        responsible for as a tenant?</a><a href="../../indexedfb.html?p=7256627">East Midlands
                        Property Market Update April 2021</a></div><a class="view-all" href="{{ page.get_parent.url }}"
                    alt="View all posts">View All</a>
            </div>
            <div class='sidebar__block cat-block'>
                <h6 class='sidebar__title'>Categories</h6>
                <p class="cat-row__cat"><a href="{{ page.get_parent.url }}"
                        alt="View all posts">All</a><span>&#40;69&#41;</span></p>
                <p class="cat-row__cat"><a href="../category/life-at-centrick/index.html"
                        alt="View all posts in Life at Centrick">Life at Centrick</a><span>&#40;2&#41;</span></p>
                <p class="cat-row__cat"><a href="../category/news/index.html"
                        alt="View all posts in News">News</a><span>&#40;64&#41;</span></p>
                <p class="cat-row__cat"><a href="../category/sales/index.html"
                        alt="View all posts in Sales">Sales</a><span>&#40;29&#41;</span></p>
                <p class="cat-row__cat"><a href="../category/lettings/index.html"
                        alt="View all posts in Lettings">Lettings</a><span>&#40;18&#41;</span></p>
                <p class="cat-row__cat"><a href="../category/new-homes/index.html" alt="View all posts in New Homes">New
                        Homes</a><span>&#40;10&#41;</span></p>
                <p class="cat-row__cat"><a href="../category/btr-asset-management/index.html"
                        alt="View all posts in BTR &amp; Asset Management">BTR &amp; Asset
                        Management</a><span>&#40;3&#41;</span></p>
                <p class="cat-row__cat"><a href="../category/estate-management/index.html"
                        alt="View all posts in Estate Management">Estate Management</a><span>&#40;6&#41;</span></p>
            </div>
        </aside>
    </div>

    <section class="section section--latest-post section--related-posts">
        <div class="container">
            <div class="flexRowOnly">
                <h5 class="section-title section-title--center">Related Articles</h5>
            </div>
            <div class="flex lastest-post--row">
                <a class="page-link post-link"
                    href="../first-impressions-count-10-ways-to-get-your-home-ready-for-viewings/index.html">
                    <div class='post-link--img-contain'>
                        <div class='inline-image page-link__image post-link__image lazy'
                            data-bg='url(https://centrick.co.uk/app/uploads/2019/03/placeholder3-1024x672.jpg)'>
                        </div><span class='post-link--date'>4 May 2021</span>
                    </div>
                    <div class='page-link__bottom'>
                        <div class='post-link__cats'><span>News</span><span class='pipe'>&#124;</span></div>
                        <h6 class='page-link__title post-link__title'>First impressions count: 10 ways to get your
                            home ready for viewings</h6>
                        <p class='small page-link__excerpt'>The days of baking bread to wow prospective buyers are
                            gone. In 2021, people looking for their...</p>
                        <div class='button button--clear post-link__button'>Read More</div>
                    </div>
                </a><a class="page-link post-link"
                    href="../9-things-you-can-do-in-a-weekend-to-improve-the-appeal-of-your-home/index.html">
                    <div class='post-link--img-contain'>
                        <div class='inline-image page-link__image post-link__image lazy'
                            data-bg='url(https://media.centrick.co.uk/app/uploads/2021/04/front-doors-feature-image.jpg)'>
                        </div><span class='post-link--date'>27 Apr 2021</span>
                    </div>
                    <div class='page-link__bottom'>
                        <div class='post-link__cats'><span>News</span><span class='pipe'>&#124;</span></div>
                        <h6 class='page-link__title post-link__title'>9 things you can do in a weekend to improve
                            the appeal of your home</h6>
                        <p class='small page-link__excerpt'>A little time and elbow grease may be all you need to
                            boost the asking price of...</p>
                        <div class='button button--clear post-link__button'>Read More</div>
                    </div>
                </a><a class="page-link post-link" href="../which-bills-are-you-responsible-for-as-a-tenant/index.html">
                    <div class='post-link--img-contain'>
                        <div class='inline-image page-link__image post-link__image lazy'
                            data-bg='url(https://media.centrick.co.uk/app/uploads/2021/04/Utility-bills.jpg)'></div>
                        <span class='post-link--date'>27 Apr 2021</span>
                    </div>
                    <div class='page-link__bottom'>
                        <div class='post-link__cats'><span>News</span><span class='pipe'>&#124;</span></div>
                        <h6 class='page-link__title post-link__title'>Which bills are you responsible for as a
                            tenant?</h6>
                        <p class='small page-link__excerpt'>Confused about which bills are &#8211; and are not
                            &#8211; your responsibility when living in a rental...</p>
                        <div class='button button--clear post-link__button'>Read More</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
{% include "footer.html" %}
{% endblock %}