{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blog{% endblock %}

{% block content %}
{% include "header.html" %}
<main>
    {% image self.banner_image fill-900x400 as img %}
    <section class="inline-image lazy page-banner" data-src="{{img.url}}">
        <div class="container">
            <div class="page-banner__content">
                <h1>{{page.page_title}}</h1>
                <p class='large'>{{page.page_subtitle}}</p>
            </div>
        </div>
        <div class="overlay overlay--banner"></div>
    </section>
    {% for post in featured_post %}
    {% with post=post.specific %}
    {% with post.main_image as banner_image %}
    {% image banner_image fill-900x400 as img %}
    <div class='container box-shad featured-post'><a class="page-link post-link" href="{% pageurl post %}">
            <div class='post-link--img-contain'>
                <div class='inline-image page-link__image post-link__image lazy' data-bg='url({{img.url}})'>
                </div><span class='post-link--date'>{{post.date}}</span>
            </div>
            <div class='page-link__bottom'>
                <div class='post-link__cats'><span>News</span><span class='pipe'>&#124;</span><span>Sales</span><span
                        class='pipe'>&#124;</span><span>Lettings</span><span class='pipe'>&#124;</span></div>
                <h6 class='page-link__title post-link__title'>{{post.title}}</h6>
                {{post.intro|richtext|slice:":150"}}
                <div class='button button--clear post-link__button'>Read More</div>
            </div>
        </a>
    </div>
    {% endwith %}
    {% endwith %}
    {% endfor %}
    <div class='container flex cat-row'>
        <p class="cat-row__cat active"><a href="/news-and-insights/"
                alt="View all posts">All</a><span>&#40;&#41;</span>
        </p>
        {% for category in categories %}
        <p class="cat-row__cat "><a href="" alt="">{{category.name}}</a><span>&#40;{{category.num_posts}}&#41;</span></p>
        {% endfor %}
        
    </div>
    <section class="section section--latest-post section--latest-post__archive">
        <div class="container">
            <div class="flex index-row">
                {% for post in blogpages %}
                {% with post=post.specific %}
                {% with post.main_image as banner_image %}
                {% image banner_image fill-900x400 as img %}
                <a class="page-link post-link" href="{% pageurl post %}">
                    <div class='post-link--img-contain'>
                        <div class='inline-image page-link__image post-link__image lazy'
                            data-bg='url({{img.url}})'>
                        </div><span class='post-link--date'>{{post.date}}</span>
                    </div>
                    <div class='page-link__bottom'>
                        <div class='post-link__cats'><span>News</span><span class='pipe'>&#124;</span></div>
                        <h6 class='page-link__title post-link__title'>{{ post.title }}</h6>
                        {{ post.intro|richtext|slice:":150" }}
                        <div class='button button--clear post-link__button'>Read More</div>
                    </div>
                </a>
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class='section section--pagination'>
        <div class='container pagination'><span aria-current="page" class="page-numbers current">1</span>
            <a class="page-numbers" href="page/2/index.html">2</a>
            <span class="page-numbers dots">&hellip;</span>
            <a class="page-numbers" href="page/7/index.html">7</a>
            <a class="page-numbers" href="page/8/index.html">8</a>
            <a class="next page-numbers" href="page/2/index.html">Next <i class="fas fa-angle-right"></i></a>
        </div>
    </section>
</main>
{% include "footer.html" %}


{% endblock %}