{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}archive post-type-archive post-type-archive-property propertyhive propertyhive-page{% endblock %}
{% load humanize %}
{% block content %}
<style>
    @media (min-width: 1024px) {

        .properties__filters,
        .properties__listing {
            height: auto !important;
        }
    }

    .select2 {
        width: 100% !important;
        height: 40px !important;
        text-indent: 5px !important;
    }
</style>
{% include "header.html" %}
<main>
    <div class="prop-archive">

        <div class="prop-filter-trig">
            <div class="container prop-filter-trig--inner">
                <span class="filter-trigger">Filters <i class="fas fa-chevron-up"></i></span>
            </div>
        </div>
        <div class="properties__filters">
            <div class="properties__container properties__container--filters">
                <div class="wppf_results_layout">
                    <div class="flex flex--rowOnlySpace filters-head">
                        <h2 class="properties__filtersTitle">Filters</h2>
                        <a href="{% url 'property:properties' %}" class="reset">reset</a>
                    </div>

                    <form name="ph_property_search" class="property-search-form property-search-form-default clear"
                        action="#" method="get" role="form">
                        {%csrf_token%}
                        <div class="control control-department">
                            <label for="category">Property Category</label>
                            <select name="category" id="category" class="select2">
                                <option value="">Select Category</option>
                                {% for category in categories %}
                                <option value="{{category.id}}" {% ifequal category.id|stringformat:"s" category_id %}
                                    selected {% endifequal %}>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="control control-for_sale_or_rent">
                            <label for="for_sale_or_rent">For Sale/To Rent</label>
                            <select name="for_sale_or_rent" id="for_sale_or_rent" class="select2" data-blank-option="">
                                <option value="" selected='selected'>Select for sale/to rent</option>
                                <option value="FOR_SALE">FOR SALE</option>
                                <option value="FOR_RENT">FOR RENT</option>

                            </select>
                        </div>

                        <div class="control control-minimum_price">
                            <label for="minimum_price">Min Price</label>
                            <select name="minimum_price" id="minimum_price" class="select2" data-blank-option="">
                                <option value="" selected='selected'>Select Min Price</option>
                                {% for price in prices %}
                                <option value="{{price}}" {% ifequal price|stringformat:"s" min_price %}
                                selected {% endifequal %}>Ksh. {{price|intcomma}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="control control-maximum_price">
                            <label for="maximum_price">Max Price</label>
                            <select name="maximum_price" id="maximum_price" class="select2" data-blank-option="">
                                <option value="" selected='selected'>Select Max Price</option>
                                {% for price in prices %}
                                <option value="{{price}}" {% ifequal price|stringformat:"s" max_price %}
                                selected {% endifequal %}>Ksh. {{price|intcomma}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="properties__listing flex">
            <div class="properties__container">
                <div class="properties__filter-head">
                    <div class="flex">
                        <div class="properties__filter">
                            <span>Sort By:</span>
                            <!-- <form class="propertyhive-ordering" method="get"> -->
                                <select name="orderby" id="orderby" class="orderby" class="select2" data-blank-option="">
                                    <option value="#">Sort By</option>
                                    <option value="price-desc">Price High to Low</option>
                                    <option value="price-asc">Price Low to High</option>                                    
                                </select>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
                <!-- <ul class="properties clear"> -->
                <div id="dv_propertyrow" class="flex property-row">
                    {% if properties %}
                    {% for property in properties %}
                    <article class="property-link property-link--listing">
                        <figure>
                            <a href="{% url 'property:property_details' property.slug %}"
                                class="property-link__img-contain">
                                {% with property.main_image as main_image %}
                                {% if main_image %}
                                {% image main_image fill-1512x2016 %}
                                {% endif %}
                                {% endwith %}
                            </a>
                            <figcaption class="property-link__tag">{{property.property_type}}</figcaption>
                        </figure>
                        <div class="property-link__bottom">
                            <a href="{% url 'property:property_details' property.slug %}">
                                <h6 class="property-link__title">{{property.title}}</h6>
                            </a>
                            <div class="flex">
                                <p class="property-link__house-desc"></p>
                            </div>
                            <div class="flex property-link__price-block">
                                <h6 class="property-link__price">{{property.price}}
                                    <span class="price-qualifier"></span>
                                </h6>
                                <span>
                                    <p class="property-link__date">Added {{property.date|date}}</p>
                                </span>
                            </div>
                            <div class="summary">
                                {{property.property_description|richtext|slice:":150"}}...
                            </div>
                        </div><!-- end of .property-link__bottom -->
                        <div class="flex property-link__buttons">
                            <a class="property-link__button property-link__viewing"
                                href="{% url 'property:property_details' property.slug %}?request-viewing=true">
                                Request Viewing
                            </a>
                            <a class="wppf_more property-link__button"
                                href="{% url 'property:property_details' property.slug %}">
                                Full Details
                            </a>
                        </div>
                    </article>
                    {% endfor %}
                    {% else %}
                    <div class="single-property--sold">
                        <p>There currently no properties with this tag</p>
                    </div>
                    {% endif %}
                    <!-- </ul> -->
                </div>

                {% if properties.has_other_pages %}
                <nav class="navigation pagination" role="navigation">
                    <ul class='ul-pagination page-numbers'>
                        {% if properties.has_previous %}
                        <li>
                            <a class="prev page-numbers"
                                href="?page={{properties.previous_page_number}}{% if category_id %}&category={{category_id}}{% endif %}">
                                Previous
                            </a>
                        </li>
                        {% endif %}
                        {% for i in properties.paginator.page_range %}
                        {% if properties.number == i %}
                        <li>
                            <span aria-current="page" class="page-numbers current">
                                {{i}}
                            </span>
                        </li>
                        {% elif i > properties.number|add:'-4' and i < properties.number|add:'4' %} <li>
                            <a class="page-numbers"
                                href="?page={{i}}{% if category_id %}&category={{category_id}}{% endif %}">
                                {{i}}
                            </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if properties.has_next %}
                            <li><a class="next page-numbers"
                                    href="?page={{properties.next_page_number}}{% if category_id %}&category={{category_id}}{% endif %}">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
                {% endif %}
                <nav class="navigation pagination" role="navigation" style="display: none;">
                    <ul class='ul-pagination page-numbers'>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<div class="overlay overlay--body"></div>
{% endblock %}