<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=EmulateIE9, IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="facebook-domain-verification" content="huu37ed879vzewuqka1ipa556lffca" />
    <title>Kajiado Acres - Your trusted county experts in pre-verified properties.</title>
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta name="description" content="Kajiado acres is your trusted county experts in pre-verified properties." />
    <link rel="canonical" href="index.html" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kajiado acres is your trusted county experts in pre-verified properties." />
    <meta property="og:description"
        content="Kajiado acres is your trusted county experts in pre-verified properties." />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="KajiadoAcres" />
    <meta property="article:publisher" content="https://www.facebook.com/KajiadoAcresPropertyExperts/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kajiadoacres" />
    <link rel='dns-prefetch' href='http://maps.googleapis.com/' />
    <link rel='stylesheet' id='wp-block-library-css' href='static/css/style.mine.css' type='text/css' media='all' />
    <link rel='stylesheet' id='multiselect-css' href='static/css/jquery.multiselect.css' type='text/css' media='all' />
    <link rel='stylesheet' id='propertyhive-general-css' href='static/css/propertyhive.css' type='text/css'
        media='all' />
    <link rel='stylesheet' id='parent-style-css' href='static/css/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='static/js/jquery/jquery.min.js' id='jquery-core-js'></script>
    <script type='text/javascript' src='static/js/jquery/jquery-migrate.mind.js' id='jquery-migrate-js'></script>

    <link rel="icon" href="static/images/kajiadoacres.png" sizes="32x32" />
    <link rel="icon" href="static/images/kajiadoacres.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="" />
    <meta name="msapplication-TileImage" content="" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<style>
    @media (min-width: 1024px){
        .properties__filters, .properties__listing{
            height: auto !important;
        }
    }
</style>
<body class="archive post-type-archive post-type-archive-property propertyhive propertyhive-page">
    <header class="header">
        <div class='header--top-bar'>
            <div class='container container--full-width'>
                <div class='header--top-links'>
                    <a class='header--top-link' href=''>
                        Explore Land
                    </a>
                    <a class='header--top-link' href='properties/indexffbb.html?department=commercial'>
                        Advertise
                    </a>
                    <a class='header--top-link' href='developments/index.html'>
                        Add a Listing
                    </a>
                    <a class='header--top-link' href='property-valuation/index.html'>
                        Sign up
                    </a>
                    <a class='header--top-link' href='mycentrick-portal/index.html'>
                        Log in
                    </a>
                </div>
            </div>
        </div>

        <div class="container container--full-width flex flex--rowOnlySpace header--bottom-row">
            <a href="index.html" class="header__logo">
                <img src="" alt="Kajiado Acres Logo" />
            </a>
            <nav>
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                        <li id="menu-item-52"
                            class="services menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                            <a href="services/index.html"><span class="menu-item--title">Services</span>
                                <p class="sub small"></p>
                            </a>
                            <div class='sub-menu'>
                                <div class='container container--sub-menu flex'>
                                    <ul class='sub-menu--container'>
                                        <li id="menu-item-87436"
                                            class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="service1.html"><span class="menu-item--title">Service 1</span>
                                                <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                    elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </a></li>
                                        <li id="menu-item-87438"
                                            class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="service2.html"><span class="menu-item--title">Service 2</span>
                                                <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                    elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </a></li>
                                        <li id="menu-item-87439"
                                            class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="service3.html"><span class="menu-item--title">Service 3</span>
                                                <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                    elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </a></li>
                                        <li id="menu-item-87440"
                                            class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="service4.html"><span class="menu-item--title">Service 4</span>
                                                <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                    elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </a></li>
                                    </ul>
                                    <div class="after-menu">
                                        <a href='services/index.html' class='page-link after-menu--services'>
                                            <div class='inline-image page-link__image'
                                                style='background-image:url(app/uploads/2019/03/26_09_18_Centrick_008small-1024x683.jpg);'>
                                            </div>
                                            <div class='page-link__bottom'>
                                                <h6 class='page-link__title'>Services</h6>
                                                <p class='small page-link__excerpt'>Lorem ipsum dolor sit amet,
                                                    consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                    Aenean massa. </p>
                                            </div>
                                        </a>
                                        <a href='about/index.html' class='page-link after-menu--about'>
                                            <div class='inline-image page-link__image'
                                                style='background-image:url(app/uploads/2019/02/about-us-1024x320.jpg);'>
                                            </div>
                                            <div class='page-link__bottom'>
                                                <h6 class='page-link__title'>About Us</h6>
                                                <p class='small page-link__excerpt'>kajiado acres facilitates direct
                                                    dealing with owners and free consultations(we have lawyers and
                                                    surveyors with vast experience in kajiado)all our properties are
                                                    pre-verified and titles and other documents like maps and mutations
                                                    are readily available</p>
                                            </div>
                                        </a>
                                        <a href='careers/index.html' class='page-link after-menu--careers'>
                                            <div class='inline-image page-link__image'
                                                style='background-image:url(app/uploads/2019/03/placeholder-1024x672.jpg);'>
                                            </div>
                                            <div class='page-link__bottom'>
                                                <h6 class='page-link__title'>Careers</h6>
                                                <p class='small page-link__excerpt'>Centrick is an equal opportunities
                                                    employer</p>
                                            </div>
                                        </a>
                                        </span></a>
                                    </div>
                        </li>
                        <li id="menu-item-49"
                            class="about menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                            <a href="about/index.html"><span class="menu-item--title">About Us</span>
                                <p class="sub small">kajiado acres facilitates direct dealing with owners and free
                                    consultations(we have lawyers and surveyors with vast experience in kajiado)all our
                                    properties are pre-verified and titles and other documents like maps and mutations
                                    are readily available</p>
                            </a>
                            <div class='sub-menu'>
                                <div class='container container--sub-menu flex'>
                                    <ul class='sub-menu--container'>
                                        <li id="menu-item-87487"
                                            class="menu-item menu-item-type-post_type menu-item-object-page"
                                            style="width: 100% !important;"><a href="careers/vacancies/index.html"><span
                                                    class="menu-item--title">How
                                                    it works</span>
                                                <ul class="sub-menu--container"
                                                    style="width: 100% !important; margin-top: 5%;">
                                                    <li class="menu-item how-it-works">
                                                        All listed properties are pre-verified. Titles and other
                                                        documents like maps and mutations are readily available for
                                                        independent verification.
                                                    </li>
                                                    <li class="menu-item how-it-works">
                                                        Contacts are signed with the seller; this allows seller and
                                                        buyer to meet freely.
                                                    </li>
                                                    <li class="menu-item how-it-works">
                                                        Once all initial documents are verified, we shall send our
                                                        in-house media team to photograph the property.
                                                    </li>
                                                    <li class="menu-item how-it-works">
                                                        We then create a social media campaign for your property at no
                                                        extra charge. Our professional sales team handle the requests,
                                                        and send potential buyers to the sellers.
                                                    </li>
                                                </ul>
                                            </a></li>

                                    </ul>
                                    <div class="after-menu" style="width: 50%;">
                                        <a href='services/index.html' class='page-link after-menu--services'>
                                            <div class='inline-image page-link__image'
                                                style='background-image:url(app/uploads/2019/03/26_09_18_Centrick_008small-1024x683.jpg);'>
                                            </div>
                                            <div class='page-link__bottom'>
                                                <h6 class='page-link__title'>Services</h6>
                                                <p class='small page-link__excerpt'>Offering residential property
                                                    services to sellers, landlords, developers, investors and management
                                                    companies </p>
                                            </div>
                                        </a>
                                        <a href='about/index.html' class='page-link after-menu--about'>
                                            <div class='inline-image page-link__image'
                                                style='background-image:url(app/uploads/2019/02/about-us-1024x320.jpg);'>
                                            </div>
                                            <div class='page-link__bottom'>
                                                <h6 class='page-link__title'>About Us</h6>
                                                <p class='small page-link__excerpt'>kajiado acres facilitates direct
                                                    dealing with owners and free consultations(we have lawyers and
                                                    surveyors with vast experience in kajiado)all our properties are
                                                    pre-verified and titles and other documents like maps and mutations
                                                    are readily available</p>
                                            </div>
                                        </a>
                                        <a href='careers/index.html' class='page-link after-menu--careers'>
                                            <div class='inline-image page-link__image'
                                                style='background-image:url(app/uploads/2019/03/placeholder-1024x672.jpg);'>
                                            </div>
                                            <div class='page-link__bottom'>
                                                <h6 class='page-link__title'>Careers</h6>
                                                <p class='small page-link__excerpt'>Centrick is an equal opportunities
                                                    employer</p>
                                            </div>
                                        </a>
                                        </span></a>
                                    </div>
                        </li>
                        <li id="menu-item-50" class="careers menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="careers/index.html"><span class="menu-item--title">Careers</span>
                                <p class="sub small">We’re always on the lookout for exceptional people who thrive in a
                                    culture of change and innovation</p>
                            </a>
                        </li>
                        <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                href="news-insight/index.html"><span class="menu-item--title">News &#038; Insight</span>
                                <p class="sub small">The latest residential property market news and opinions, plus news
                                    about Centrick</p>
                            </a></li>
                        <li id="menu-item-538" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                href="contact-us/index.html"><span class="menu-item--title">Contact us</span>
                                <p class="sub small"></p>
                            </a></li>
                    </ul>
                </div>
            </nav>
            <button id="menu-button" class="menu-toggle flex--align-center" aria-label="Mobile menu toggle">
                <span class="menu-button"></span>
            </button>
        </div>
        <div id="navigation" class="mob-nav">
            <div class="mob-nav__buttons">
                <a href="properties/index.html" class="button">Explore Land</a>
                <a href="properties/indexffbb.html?department=commercial" class="button button--darkTeal">Advertise
                    Land</a>
                <a href="developments/index.html" class="button button--black">Add a Listing</a>
                <a href="property-valuation/index.html" class="button button--purple">Sign up/Log in</a>
            </div>
            <div class="navigation--wrapper">
                <ul class="mobile-main-menu ">
                    <li
                        class="mobile-main-menu__item  mobile-main-menu__item--parent  mobile-main-menu__item--5  mobile-main-menu__item--services">
                        <a href="services/index.html" class="mobile-main-menu__link">Services</a>
                        <ul class="mobile-main-menu__sub-menu mobile-main-menu__sub-menu--1">
                            <li
                                class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--41">
                                <a href=""
                                    class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                    1</a>
                            </li>
                            <li
                                class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--39">
                                <a href=""
                                    class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                    2</a>
                            </li>
                            <li
                                class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--43">
                                <a href=""
                                    class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                    3</a>
                            </li>
                            <li
                                class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--47">
                                <a href=""
                                    class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                    4</a>
                            </li>
                            <li
                                class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--45">
                                <a href=""
                                    class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                    5</a>
                            </li>
                            <li
                                class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--7188470">
                                <a href=""
                                    class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                    6</a>
                            </li>
                            <li
                                class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--7189479">
                                <a href=""
                                    class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                    7</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile-main-menu__item  mobile-main-menu__item--7  mobile-main-menu__item--careers"><a
                            href="careers/index.html" class="mobile-main-menu__link">About Us</a></li>
                    <li class="mobile-main-menu__item  mobile-main-menu__item--7  mobile-main-menu__item--careers"><a
                            href="careers/index.html" class="mobile-main-menu__link">Careers</a></li>
                    <li class="mobile-main-menu__item  mobile-main-menu__item--57"><a href="news-insight/index.html"
                            class="mobile-main-menu__link">News &#038; Insight</a></li>
                    <li class="mobile-main-menu__item  mobile-main-menu__item--95"><a href="contact-us/index.html"
                            class="mobile-main-menu__link">Contact us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="prop-archive">

            <div class="prop-filter-trig">
                <div class="container prop-filter-trig--inner">
                    <span class="filter-trigger">Filters <i class="fas fa-chevron-up"></i></span>
                </div>
            </div>
            <div class="properties__filters">
                <div class="properties__container properties__container--filters">
                    <div class="wppf_results_layout">
                        <div class="flex flex--rowOnlySpace filters-head">
                            <h2 class="properties__filtersTitle">Filters</h2>
                            <a href="index.html" class="reset">reset</a>
                        </div>

                        <form name="ph_property_search" class="property-search-form property-search-form-default clear"
                            action="https://centrick.co.uk/properties/" method="get" role="form">


                            <div class="control control-department"><select name="department" id="department" class=""
                                    data-blank-option="">
                                    <option value="">Property Type</option>
                                    <option value="1" selected>Land & Plots for Sale</option>
                                    <option value="2">Farm Land</option>
                                    <option value="3">Commercial Land</option>
                                    <option value="4">Houses & Apartments for Sale</option>
                                    <option value="5">Land on Cliff/Hill</option>
                                    <option value="6">Land & Plots for Sale</option>
                                    <option value="7">Land Touching Main Road</option>
                                    <option value="8">Residential Land</option>
                                    <option value="9">Quarry & Rocky Land</option>
                                    <option value="10">Mixed Use Land</option>
                                </select></div>

                            <div class="control control-commercial_for_sale_to_rent commercial-only"><label
                                    for="commercial_for_sale_to_rent">For Sale / To Rent</label><select
                                    name="commercial_for_sale_to_rent" id="commercial_for_sale_to_rent" class=""
                                    data-blank-option="">
                                    <option value="" selected='selected'>No Preference</option>
                                    <option value="for_sale">For Sale</option>
                                    <option value="to_rent">To Rent</option>
                                </select></div>

                            <div class="control control-address_keyword"><label
                                    for="address_keyword">Location</label><input type="text" name="address_keyword"
                                    id="address_keyword" value="" placeholder="" class="" style="">
                                <div class="current-location"
                                    style="position:absolute; right:15px; bottom:10px; width:30px;"><a href="#"
                                        title="Use Current Location"><img src="static/images/current-location.png"
                                            alt="Use Current Location"></a></div>
                            </div>

                            <div class="control control-minimum_price"><label for="minimum_price">Min
                                    Price</label><select name="minimum_price" id="minimum_price" class=""
                                    data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="100000">Ksh. 100,000</option>
                                    <option value="150000">Ksh. 150,000</option>
                                    <option value="200000">Ksh. 200,000</option>
                                    <option value="250000">Ksh. 250,000</option>
                                    <option value="300000">Ksh. 300,000</option>
                                    <option value="500000">Ksh. 500,000</option>
                                    <option value="750000">Ksh. 750,000</option>
                                    <option value="1000000">Ksh. 1,000,000</option>
                                </select></div>

                            <div class="control control-maximum_price"><label for="maximum_price">Max
                                    Price</label><select name="maximum_price" id="maximum_price" class=""
                                    data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="100000">Ksh. 100,000</option>
                                    <option value="150000">Ksh. 150,000</option>
                                    <option value="200000">Ksh. 200,000</option>
                                    <option value="250000">Ksh. 250,000</option>
                                    <option value="300000">Ksh. 300,000</option>
                                    <option value="500000">Ksh. 500,000</option>
                                    <option value="750000">Ksh. 750,000</option>
                                    <option value="1000000">Ksh. 1,000,000</option>
                                    <option value="1500000">Ksh. 1,500,000</option>
                                    <option value="2000000">Ksh. 2,000,000</option>
                                    <option value="2500000">Ksh. 2,500,000</option>
                                    <option value="3000000">Ksh. 3,000,000</option>
                                    <option value="3500000">Ksh. 3,500,000</option>
                                </select></div>

                            <div class="control control-minimum_rent lettings-only"><label for="minimum_rent">Min
                                    Rent</label><select name="minimum_rent" id="minimum_rent" class=""
                                    data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="500">£500 PCM</option>
                                    <option value="600">£600 PCM</option>
                                    <option value="750">£750 PCM</option>
                                    <option value="1000">£1000 PCM</option>
                                    <option value="1250">£1250 PCM</option>
                                    <option value="1500">£1500 PCM</option>
                                    <option value="2000">£2000 PCM</option>
                                </select></div>

                            <div class="control control-maximum_rent lettings-only"><label for="maximum_rent">Max
                                    Rent</label><select name="maximum_rent" id="maximum_rent" class=""
                                    data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="500">£500 PCM</option>
                                    <option value="600">£600 PCM</option>
                                    <option value="750">£750 PCM</option>
                                    <option value="1000">£1000 PCM</option>
                                    <option value="1250">£1250 PCM</option>
                                    <option value="1500">£1500 PCM</option>
                                    <option value="2000">£2000 PCM</option>
                                </select></div>

                            <div class="control control-minimum_bedrooms residential-only"><label
                                    for="minimum_bedrooms">Min Beds</label><select name="minimum_bedrooms"
                                    id="minimum_bedrooms" class="" data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select></div>

                            <div class="control control-property_type residential-only"><label
                                    for="property_type">Type</label><select name="property_type" id="property_type"
                                    class="" data-blank-option="No Preference">
                                    <option value="" selected='selected'>No Preference</option>
                                    <option value="161">House</option>
                                    <option value="162">- Detached House</option>
                                    <option value="163">- Semi-Detached House</option>
                                    <option value="164">- Terraced House</option>
                                    <option value="165">- End of Terrace House</option>
                                    <option value="166">- Mews</option>
                                    <option value="167">- Link Detached House</option>
                                    <option value="168">- Town House</option>
                                    <option value="169">- Cottage</option>
                                    <option value="170">Bungalow</option>
                                    <option value="171">- Detached Bungalow</option>
                                    <option value="172">- Semi-Detached Bungalow</option>
                                    <option value="173">- Terraced Bungalow</option>
                                    <option value="174">Flat / Apartment</option>
                                    <option value="175">- Flat</option>
                                    <option value="176">- Apartment</option>
                                    <option value="177">- Maisonette</option>
                                    <option value="178">- Studio</option>
                                    <option value="179">- Penthouse</option>
                                    <option value="180">- Duplex</option>
                                    <option value="181">- Triplex</option>
                                    <option value="182">Other</option>
                                    <option value="183">- Commercial</option>
                                    <option value="184">- Land</option>
                                    <option value="185">- Garage</option>
                                </select></div>

                            <div class="control control-minimum_floor_area commercial-only"><label
                                    for="minimum_floor_area">Min Floor Area</label><select name="minimum_floor_area"
                                    id="minimum_floor_area" class="" data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="250">250 sq ft</option>
                                    <option value="500">500 sq ft</option>
                                    <option value="1000">1,000 sq ft</option>
                                    <option value="2500">2,500 sq ft</option>
                                    <option value="5000">5,000 sq ft</option>
                                    <option value="10000">10,000 sq ft</option>
                                    <option value="25000">25,000 sq ft</option>
                                    <option value="50000">50,000 sq ft</option>
                                </select></div>

                            <div class="control control-maximum_floor_area commercial-only"><label
                                    for="maximum_floor_area">Max Floor Area</label><select name="maximum_floor_area"
                                    id="maximum_floor_area" class="" data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="250">250 sq ft</option>
                                    <option value="500">500 sq ft</option>
                                    <option value="1000">1,000 sq ft</option>
                                    <option value="2500">2,500 sq ft</option>
                                    <option value="5000">5,000 sq ft</option>
                                    <option value="10000">10,000 sq ft</option>
                                    <option value="25000">25,000 sq ft</option>
                                    <option value="50000">50,000 sq ft</option>
                                </select></div>

                            <div class="control control-commercial_property_type commercial-only"><label
                                    for="commercial_property_type">Type</label><select name="commercial_property_type"
                                    id="commercial_property_type" class="" data-blank-option="">
                                    <option value="" selected='selected'>No preference</option>
                                    <option value="186">Office</option>
                                    <option value="187">Industrial</option>
                                    <option value="188">Retail</option>
                                    <option value="189">Land</option>
                                    <option value="190">Health</option>
                                    <option value="191">Motoring</option>
                                    <option value="192">Leisure</option>
                                    <option value="193">Investment</option>
                                </select></div>

                            <div class="control control-tenure residential-only"><label
                                    for="tenure">Tenure</label><select name="tenure" id="tenure" class=""
                                    data-blank-option="No Preference">
                                    <option value="" selected='selected'>No Preference</option>
                                    <option value="210">Freehold</option>
                                    <option value="211">Leasehold</option>
                                </select></div>

                            <div class="control control-commercial_tenure commercial-only"><label
                                    for="commercial_tenure">Commercial Tenure</label><select name="commercial_tenure"
                                    id="commercial_tenure" class="" data-blank-option="No Preference">
                                    <option value="" selected='selected'>No Preference</option>
                                    <option value="212">Freehold</option>
                                    <option value="213">Leasehold</option>
                                </select></div>

                            <input type="hidden" name="lat" value="">

                            <input type="hidden" name="lng" value="">

                            <input type="submit" value="Search">

                        </form>
                    </div>
                </div>
            </div>
            <div class="properties__listing flex">
                <div class="properties__container">
                    <div class="properties__filter-head">
                        <h5 class="propertyhive-result-count prop-count">
                            1–32 of 182 <span>results</span></h5>
                        <div class="flex">
                            <div class="properties__filter">
                                <span>Sort By:</span>
                                <form class="propertyhive-ordering" method="get">
                                    <select name="orderby" class="orderby">
                                        <option value="price-desc">Price High to Low</option>
                                        <option value="date" selected='selected'>Date Added</option>
                                        <option value="price-asc">Price Low to High</option>
                                    </select>
                                </form>
                            </div>
                            <div class="properties__buttonGroup">


                                <a href="indexd41d.html?" class="properties__button properties__button--listing
                             properties__button--active ">
                                    <i class="fas fa-bars"></i>
                                </a>

                                <a href="indexb859.html?&amp;view=map" class="properties__button properties__button--map
                            ">
                                    <i class="fas fa-map-marker-alt"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- <ul class="properties clear"> -->
                    <div class="flex property-row">
                        <article class="property-link property-link--listing">
                            <figure>
                                <a href="" class="property-link__img-contain">
                                    <img src="https://d12prgon3aw7l1.cloudfront.net/1292219_img-20190630-165343-8_1512x2016.jpg"
                                        alt="50 acres Ilkisumeti" class="">
                                </a>
                                <figcaption class="property-link__tag">For Sale</figcaption>
                            </figure>
                            <div class="property-link__bottom">
                                <a href="">
                                    <h6 class="property-link__title">50 acres Ilkisumeti</h6>
                                </a>
                                <div class="flex">
                                    <p class="property-link__house-desc"></p>
                                </div>
                                <div class="flex property-link__price-block">
                                    <h6 class="property-link__price">Ksh. 55,000
                                        <span class="price-qualifier"></span>
                                    </h6>
                                    <span>
                                        <p class="property-link__date">Added 2021-05-20</p>
                                    </span>
                                </div>
                                <div class="summary">
                                    <p class="small page-link__excerpt">
                                        50 acres flat red soil, great for farming or speculation.
                                    </p>
                                    <p class="small page-link__excerpt">
                                        70 Km from Ngong Town
                                    </p>
                                    <p class="small page-link__excerpt">
                                        Freehold land
                                    </p>
                                </div>
                            </div><!-- end of .property-link__bottom -->
                            <div class="flex property-link__buttons">
                                <a class="property-link__button property-link__viewing" href="">
                                    Request Viewing
                                </a>
                                <a class="wppf_more property-link__button" href="">
                                    Full Details
                                </a>
                            </div>
                        </article>
                        <article class="property-link property-link--listing">
                            <figure>
                                <a href="" class="property-link__img-contain">
                                    <img src="https://d12prgon3aw7l1.cloudfront.net/1292219_img-20190630-165343-8_1512x2016.jpg"
                                        alt="50 acres Ilkisumeti" class="">
                                </a>
                                <figcaption class="property-link__tag">For Sale</figcaption>
                            </figure>
                            <div class="property-link__bottom">
                                <a href="">
                                    <h6 class="property-link__title">50 acres Ilkisumeti</h6>
                                </a>
                                <div class="flex">
                                    <p class="property-link__house-desc"></p>
                                </div>
                                <div class="flex property-link__price-block">
                                    <h6 class="property-link__price">Ksh. 55,000
                                        <span class="price-qualifier"></span>
                                    </h6>
                                    <span>
                                        <p class="property-link__date">Added 2021-05-20</p>
                                    </span>
                                </div>
                                <div class="summary">
                                    <p class="small page-link__excerpt">
                                        50 acres flat red soil, great for farming or speculation.
                                    </p>
                                    <p class="small page-link__excerpt">
                                        70 Km from Ngong Town
                                    </p>
                                    <p class="small page-link__excerpt">
                                        Freehold land
                                    </p>
                                </div>
                            </div><!-- end of .property-link__bottom -->
                            <div class="flex property-link__buttons">
                                <a class="property-link__button property-link__viewing" href="">
                                    Request Viewing
                                </a>
                                <a class="wppf_more property-link__button" href="">
                                    Full Details
                                </a>
                            </div>
                        </article>
                        <article class="property-link property-link--listing">
                            <figure>
                                <a href="" class="property-link__img-contain">
                                    <img src="https://d12prgon3aw7l1.cloudfront.net/1292219_img-20190630-165343-8_1512x2016.jpg"
                                        alt="50 acres Ilkisumeti" class="">
                                </a>
                                <figcaption class="property-link__tag">For Sale</figcaption>
                            </figure>
                            <div class="property-link__bottom">
                                <a href="">
                                    <h6 class="property-link__title">50 acres Ilkisumeti</h6>
                                </a>
                                <div class="flex">
                                    <p class="property-link__house-desc"></p>
                                </div>
                                <div class="flex property-link__price-block">
                                    <h6 class="property-link__price">Ksh. 55,000
                                        <span class="price-qualifier"></span>
                                    </h6>
                                    <span>
                                        <p class="property-link__date">Added 2021-05-20</p>
                                    </span>
                                </div>
                                <div class="summary">
                                    <p class="small page-link__excerpt">
                                        50 acres flat red soil, great for farming or speculation.
                                    </p>
                                    <p class="small page-link__excerpt">
                                        70 Km from Ngong Town
                                    </p>
                                    <p class="small page-link__excerpt">
                                        Freehold land
                                    </p>
                                </div>
                            </div><!-- end of .property-link__bottom -->
                            <div class="flex property-link__buttons">
                                <a class="property-link__button property-link__viewing" href="">
                                    Request Viewing
                                </a>
                                <a class="wppf_more property-link__button" href="">
                                    Full Details
                                </a>
                            </div>
                        </article>

                        <!-- </ul> -->
                    </div>


                    <nav class="navigation pagination" role="navigation">
                        <ul class='page-numbers'>
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="page/2/index.html">2</a></li>
                            <li><a class="page-numbers" href="page/3/index.html">3</a></li>
                            <li><a class="page-numbers" href="page/4/index.html">4</a></li>
                            <li><a class="page-numbers" href="page/5/index.html">5</a></li>
                            <li><a class="page-numbers" href="page/6/index.html">6</a></li>
                            <li><a class="next page-numbers" href="page/2/index.html">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </main>

    <div class="overlay overlay--body"></div>

    <script type='text/javascript' src='static/js/ph-radial-search.js' id='ph-radial-search-js'></script>
    <script type='text/javascript' src='static/js/frontend/search.js' id='propertyhive_search-js'></script>
    <script type='text/javascript' src='static/js/frontend/make-enquiry.js' id='propertyhive_make_enquiry-js'></script>
    <script type='text/javascript' src='static/js/bundle.js' id='script-js'></script>
    <script type='text/javascript' src='static/js/wp-embed.mine.js' id='wp-embed-js'></script>
</body>