{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}home page-template-default page page-id-643{% endblock %}

{% block content %}
<style>
    .hero .property-search {
        width: auto !important;
    }

    @media (min-width: 1225px) {
        .hero .property-search {
            padding: 0px !important;
        }
    }

    .hero__content {
        width: 100% !important;
    }

    .hero .property-search {
        max-width: 90% !important;
    }

    .how-it-works {
        list-style: decimal;
        width: 100%;
        font-size: 14px;
        margin-bottom: 15px !important;
        color: #747484
    }

    @media (min-width: 1225px) {
        .hero .valuation .valuation--form-half {
            width: 100%;
        }
    }

    @media (min-width: 1024px) {
        .property-link--listing {
            width: 31.6% !important;
        }
    }

    article {
        /* width: 31.6% !important; */
        margin-right: auto !important;
    }

    .flex {
        display: flex !important;
    }

    .button {
        height: 50px;
    }
</style>
{% include "header.html" %}
<main>
    <section class='hero'>
        <div class='hero__container'>
            <div class='hero__slider owl-carousel'>
                {% for item in page.slider_images.all %}
                {% image item.image fill-1920x1285 as slider_image %}
                <div class='hero__slider--item'>
                    <div class='hero__slider--image inline-image owl-lazy' data-src='{{slider_image.url}}'
                        data-src-retina='{{slider_image.url}}'>
                    </div>
                    <div class='overlay'></div>
                </div>
                {% endfor %}
            </div>
            <div class='hero__content'>
                <h1 class='hero__content--title'>{{ page.header_one }}</h1>
                <p class='hero__content--copy large'>{{page.header_two}}</p>
                <div class="property-search">
                    <div class="property-search__tabs">
                        <ul>
                            <li class="active" data-target="residential" class="property-search__tabs-resi">
                                Regular Search</li>
                            <li data-target="commercial" class="property-search__tabs-comm">Advanced Search</li>
                        </ul>
                    </div>
                    <div class="property-search__box">
                        <h5 class="heading heading--white">Find Land for Sale</h5>
                        <form action="" method="GET" class="search-input__container search-input__residential active"
                            id="residential">
                            <select class="" style="margin-bottom: 10px !important" name="select_propertytype">
                                <option value="">Property Type</option>
                                <option value="1">Land & Plots for Sale</option>
                                <option value="2">Farm Land</option>
                                <option value="3">Commercial Land</option>
                                <option value="4">Houses & Apartments for Sale</option>
                                <option value="5">Land on Cliff/Hill</option>
                                <option value="6">Land & Plots for Sale</option>
                                <option value="7">Land Touching Main Road</option>
                                <option value="8">Residential Land</option>
                                <option value="9">Quarry & Rocky Land</option>
                                <option value="10">Mixed Use Land</option>
                            </select>
                            &nbsp;
                            <select style="margin-bottom: 10px !important" name="select_minprice">
                                <option value="">Min Price</option>
                                <option value="1">Ksh. 1000</option>
                                <option value="2">Ksh. 5000</option>
                                <option value="3">Ksh. 10,000</option>
                                <option value="1">Ksh. 50,000</option>
                            </select>
                            &nbsp;
                            <select style="margin-bottom: 10px !important" name="select_maxprice">
                                <option value="">Max Price</option>
                                <option value="1">Ksh. 1000</option>
                                <option value="2">Ksh. 5000</option>
                                <option value="3">Ksh. 10,000</option>
                                <option value="1">Ksh. 50,000</option>
                            </select>
                            &nbsp;
                            <button class="button" name="search" type="submit">
                                Search
                            </button>
                        </form>

                        <form action="#" method="GET" class="search-input__container search-input__commercial"
                            id="commercial">

                            <select name="select_propertytype">
                                <option value="">Property Type</option>
                                <option value="1">Land & Plots for Sale</option>
                                <option value="2">Farm Land</option>
                                <option value="3">Commercial Land</option>
                                <option value="4">Houses & Apartments for Sale</option>
                                <option value="5">Land on Cliff/Hill</option>
                                <option value="6">Land & Plots for Sale</option>
                                <option value="7">Land Touching Main Road</option>
                                <option value="8">Residential Land</option>
                                <option value="9">Quarry & Rocky Land</option>
                                <option value="10">Mixed Use Land</option>
                            </select>
                            &nbsp;
                            <select name="select_minprice">
                                <option value="">Min Price</option>
                                <option value="1">Ksh. 1000</option>
                                <option value="2">Ksh. 5000</option>
                                <option value="3">Ksh. 10,000</option>
                                <option value="1">Ksh. 50,000</option>
                            </select>
                            &nbsp;
                            <select name="select_maxprice">
                                <option value="">Max Price</option>
                                <option value="1">Ksh. 1000</option>
                                <option value="2">Ksh. 5000</option>
                                <option value="3">Ksh. 10,000</option>
                                <option value="1">Ksh. 50,000</option>
                            </select>
                            &nbsp;
                            <input name="txt_minarea" type="text" placeholder="Min Area (sq ft)" value="">
                            &nbsp;
                            <input name="txt_minarea" type="text" placeholder="Min Area (sq ft)" value="">
                            <button class="button" name="department" value="residential-lettings" type="submit">Search
                                <i class="fas fa-search"></i></button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="valuation valuation-block">
            <div class="valuation--text-half">
                <h5 class="heading--white valuation--heading">Search By Location</h5>
            </div>
            <div class="valuation--form-half">
                <form method="get" action="" id="homePageSearch" class="valuation-form">
                    <div class="valuation-fieldGroup">
                        <input name="postcode" type="text" placeholder="Region / City / Town" value="">
                        <span class="valuation-group__fieldError valuation-fieldGroup__fieldError"
                            style="display: none;"></span>
                    </div>
                    <button type="submit" class="button button--black">Search</button>
                </form>
            </div>
        </div>
    </section>
    <section class="section section--page-cards">
        <div class="container container--page-card container--center flex">
            {% for property in property_categories %}
            {% image property.image max-320x200 as property_image %}
            <a href="{% url 'property:properties' %}?category={{property.id}}" class='page-link'>
                <div class='inline-image page-link__image lazy' data-bg='url({{property_image.url}})'>
                </div>
                <div class='page-link__bottom'>
                    <h6 class='page-link__title'>{{property.name}}</h6>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="section section--latest-post">
        <div class="container">
            <div class="flexRowOnly">
                <h3 class="section-title section-title--center">List of Properties</h3>
            </div>
            <div class="flex property-row">
                {% for property in properties %}
                <article class="property-link property-link--listing">
                    <figure>
                        <a href="{% url 'property:property_details' property.slug %}" class="property-link__img-contain">
                            {% with property.main_image as main_image %}
                            {% if main_image %}
                            {% image main_image fill-1512x2016 %}
                            {% endif %}
                            {% endwith %}
                        </a>
                        <figcaption class="property-link__tag">{{property.property_type}}</figcaption>
                    </figure>
                    <div class="property-link__bottom">
                        <a href="{% url 'property:property_details' property.slug %}">
                            <h6 class="property-link__title">{{property.title}}</h6>
                        </a>
                        <div class="flex">
                            <p class="property-link__house-desc"></p>
                        </div>
                        <div class="flex property-link__price-block">
                            <h6 class="property-link__price">{{property.price}}
                                <span class="price-qualifier"></span>
                            </h6>
                            <span>
                                <p class="property-link__date">Added {{property.date}}</p>
                            </span>
                        </div>
                        <div class="summary">
                            {{property.property_description|richtext|slice:":150"}}...
                        </div>
                    </div><!-- end of .property-link__bottom -->
                    <div class="flex property-link__buttons">
                        <a class="property-link__button property-link__viewing"
                            href="{% url 'property:property_details' property.slug %}?request-viewing=true">
                            Request Viewing
                        </a>
                        <a class="wppf_more property-link__button"
                            href="{% url 'property:property_details' property.slug %}">
                            Full Details
                        </a>
                    </div>
                </article>
                {% endfor %}
            </div>
            <div class="flexRowOnly">
                <a class="button button--purple" href="{% url 'property:properties' %}">View All</a>
            </div>
        </div>
    </section>
    <section class="section text-image aos-init aos-animate">
        {% image self.banner_image fill-900x400 as img %}
        <div class="text-image--block container flex text-image__single">
            <div class="text-image--image text-image--text-left ">
                <img alt='' src="{{img.url}}">
            </div>
            <div class='text-image--text text-image--text-right'>
                <div class='text-image--text-content'>
                    <h3 class="p1"><span class="s1">Your Property Experts</span></h3>
                    <p class="p1">kajiado acres is a collaboration between lawyers, surveyors, and land sellers in
                        and around Kajiado county, in an effort to promote transparency, honesty, and legitimacy in
                        land
                        dealings. Land sellers especially those from the Maasai community tend to be illiterate and
                        fall victim to unscrupulous real estate agents. Kajiado acres facilitates direct dealing
                        between
                        the seller and the buyer, as well as offers initial free consultations to potential land
                        buyers.</p>
                </div>
                <a class='button' href='' title='' target=''>Contact us</a>
            </div>
        </div>
    </section>
    <section class="section section--stat section--center">
        <div class="container container--center flex">
            <div class='stat'><span class='stat--figure'>Ksh 10M +</span>
                <p class='stat--description'>properties managed</p>
            </div>
            <div class='stat'><span class='stat--figure'>Ksh 5M +</span>
                <p class='stat--description'>properties sold</p>
            </div>
        </div>
    </section>
    <section class="section section--latest-post">
        <div class="container">
            <div class="flexRowOnly">
                <h3 class="section-title section-title--center">Latest News & Insights</h3>
            </div>
            <div class="flex lastest-post--row">
                {% for post in blogpages %}
                {% with post=post.specific %}
                {% with post.main_image as banner_image %}
                {% image banner_image fill-900x400 as img %}
                <a class="page-link post-link" href="{% pageurl post %}">
                    <div class='post-link--img-contain'>
                        <div class='inline-image page-link__image post-link__image lazy' data-bg='url({{img.url}})'>
                        </div><span class='post-link--date'>{{post.date}}</span>
                    </div>
                    <div class='page-link__bottom'>
                        <div class='post-link__cats'><span>News</span><span class='pipe'>&#124;</span></div>
                        <h6 class='page-link__title post-link__title'>{{ post.title }}</h6>
                        <p class='small page-link__excerpt'>{{ post.intro|richtext|slice:":150" }}
                        </p>
                        <div class='button button--clear post-link__button'>Read More</div>
                    </div>
                </a>
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </div>
            <div class="flexRowOnly">
                <a class="button button--purple" href="/news-and-insights">View All</a>
            </div>
        </div>
    </section>
</main>
{% include "footer.html" %}
<div class="overlay overlay--body"></div>
{% endblock %}