{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=EmulateIE9, IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="facebook-domain-verification" content="huu37ed879vzewuqka1ipa556lffca" />
    <title>
        {% if '/property/details/' in request.path %}
        {{property.title}} - Kajiado Acres
        {% else %}
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %} - {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
        {% endif %}
    </title>
    <meta name="description" content="Kajiado acres is your trusted county experts in pre-verified properties." />
    <link rel='stylesheet' id='wp-block-library-css' href="{% static 'css/style.mine.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='multiselect-css' href="{% static 'css/jquery.multiselect.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='propertyhive-general-css' href="{% static 'css/propertyhive.css' %}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='parent-style-css' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    <script type='text/javascript' src="{% static 'js/jquery/jquery-migrate.mind.js' %}"
        id='jquery-migrate-js'></script>

    <link rel="icon" href="{% static 'images/kajiadoacres.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'images/kajiadoacres.png' %}" sizes="192x192" />

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/kajiadoacres.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-float {
        margin-top: 16px;
    }
</style>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block content %}{% endblock %}
    {% if '/property/details/' in request.path %}
    <a class="float" target="_blank"
        href="https://api.whatsapp.com/send?phone=254733650737&text=https://kajiadoacres.com{{request.path}}"><i
            class="fab fa-whatsapp my-float"></i></a>
    {% else %}
    <a class="float" target="_blank" href="https://api.whatsapp.com/send?phone=254720491427"><i
            class="fab fa-whatsapp my-float"></i></a>
    {% endif %}
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/kajiadoacres.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/ph-radial-search.js' %}" id='ph-radial-search-js'></script>
    <script type='text/javascript' src="{% static 'js/frontend/search.js' %}" id='propertyhive_search-js'></script>
    <script type='text/javascript' src="{% static 'js/frontend/make-enquiry.js' %}"
        id='propertyhive_make_enquiry-js'></script>
    <script type='text/javascript' src="{% static 'js/bundle.js' %}" id='script-js'></script>
    <script type='text/javascript' src="{% static 'js/wp-embed.mine.js' %}" id='wp-embed-js'></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}?v0.1"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>