<header class="header">
    <div class='header--top-bar'>
        <div class='container container--full-width'>
            <div class='header--top-links'>
                <a class='header--top-link' href=''>
                    Explore Land
                </a>
                <a class='header--top-link' href='properties/indexffbb.html?department=commercial'>
                    Advertise
                </a>
                <a class='header--top-link' href='developments/index.html'>
                    Add a Listing
                </a>
                <a class='header--top-link' href='property-valuation/index.html'>
                    Sign up
                </a>
                <a class='header--top-link' href='mycentrick-portal/index.html'>
                    Log in
                </a>
            </div>
        </div>
    </div>

    <div class="container container--full-width flex flex--rowOnlySpace header--bottom-row">
        <a href="/" class="header__logo">
            <!-- <img src="" alt="Kajiado Acres Logo" /> -->
            Kajiado Acres
        </a>
        <nav>
            <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="menu">
                    <li id="menu-item-52"
                        class="services menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <a href="services/index.html"><span class="menu-item--title">Services</span>
                            <p class="sub small"></p>
                        </a>
                        <div class='sub-menu'>
                            <div class='container container--sub-menu flex'>
                                <ul class='sub-menu--container'>
                                    <li id="menu-item-87436"
                                        class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                            href="service1.html"><span class="menu-item--title">Service 1</span>
                                            <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        </a></li>
                                    <li id="menu-item-87438"
                                        class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                            href="service2.html"><span class="menu-item--title">Service 2</span>
                                            <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        </a></li>
                                    <li id="menu-item-87439"
                                        class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                            href="service3.html"><span class="menu-item--title">Service 3</span>
                                            <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        </a></li>
                                    <li id="menu-item-87440"
                                        class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                            href="service4.html"><span class="menu-item--title">Service 4</span>
                                            <p class="sub small">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        </a></li>
                                </ul>
                                <div class="after-menu">
                                    <a href='services/index.html' class='page-link after-menu--services'>
                                        <div class='inline-image page-link__image'
                                            style='background-image:url(app/uploads/2019/03/26_09_18_Centrick_008small-1024x683.jpg);'>
                                        </div>
                                        <div class='page-link__bottom'>
                                            <h6 class='page-link__title'>Services</h6>
                                            <p class='small page-link__excerpt'>Lorem ipsum dolor sit amet,
                                                consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                Aenean massa. </p>
                                        </div>
                                    </a>
                                    <a href='about/index.html' class='page-link after-menu--about'>
                                        <div class='inline-image page-link__image'
                                            style='background-image:url(app/uploads/2019/02/about-us-1024x320.jpg);'>
                                        </div>
                                        <div class='page-link__bottom'>
                                            <h6 class='page-link__title'>About Us</h6>
                                            <p class='small page-link__excerpt'>kajiado acres facilitates direct
                                                dealing with owners and free consultations(we have lawyers and
                                                surveyors with vast experience in kajiado)all our properties are
                                                pre-verified and titles and other documents like maps and mutations
                                                are readily available</p>
                                        </div>
                                    </a>
                                    <a href='careers/index.html' class='page-link after-menu--careers'>
                                        <div class='inline-image page-link__image'
                                            style='background-image:url(app/uploads/2019/03/placeholder-1024x672.jpg);'>
                                        </div>
                                        <div class='page-link__bottom'>
                                            <h6 class='page-link__title'>Careers</h6>
                                            <p class='small page-link__excerpt'>Centrick is an equal opportunities
                                                employer</p>
                                        </div>
                                    </a>
                                    </span></a>
                                </div>
                    </li>
                    <li id="menu-item-49"
                        class="about menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <a href="about/index.html"><span class="menu-item--title">About Us</span>
                            <p class="sub small">kajiado acres facilitates direct dealing with owners and free
                                consultations(we have lawyers and surveyors with vast experience in kajiado)all our
                                properties are pre-verified and titles and other documents like maps and mutations
                                are readily available</p>
                        </a>
                        <div class='sub-menu'>
                            <div class='container container--sub-menu flex'>
                                <ul class='sub-menu--container'>
                                    <li id="menu-item-87487"
                                        class="menu-item menu-item-type-post_type menu-item-object-page"
                                        style="width: 100% !important;"><a href="careers/vacancies/index.html"><span
                                                class="menu-item--title">How
                                                it works</span>
                                            <ul class="sub-menu--container"
                                                style="width: 100% !important; margin-top: 5%;">
                                                <li class="menu-item how-it-works">
                                                    All listed properties are pre-verified. Titles and other
                                                    documents like maps and mutations are readily available for
                                                    independent verification.
                                                </li>
                                                <li class="menu-item how-it-works">
                                                    Contacts are signed with the seller; this allows seller and
                                                    buyer to meet freely.
                                                </li>
                                                <li class="menu-item how-it-works">
                                                    Once all initial documents are verified, we shall send our
                                                    in-house media team to photograph the property.
                                                </li>
                                                <li class="menu-item how-it-works">
                                                    We then create a social media campaign for your property at no
                                                    extra charge. Our professional sales team handle the requests,
                                                    and send potential buyers to the sellers.
                                                </li>
                                            </ul>
                                        </a></li>

                                </ul>
                                <div class="after-menu" style="width: 50%;">
                                    <a href='services/index.html' class='page-link after-menu--services'>
                                        <div class='inline-image page-link__image'
                                            style='background-image:url(app/uploads/2019/03/26_09_18_Centrick_008small-1024x683.jpg);'>
                                        </div>
                                        <div class='page-link__bottom'>
                                            <h6 class='page-link__title'>Services</h6>
                                            <p class='small page-link__excerpt'>Offering residential property
                                                services to sellers, landlords, developers, investors and management
                                                companies </p>
                                        </div>
                                    </a>
                                    <a href='about/index.html' class='page-link after-menu--about'>
                                        <div class='inline-image page-link__image'
                                            style='background-image:url(app/uploads/2019/02/about-us-1024x320.jpg);'>
                                        </div>
                                        <div class='page-link__bottom'>
                                            <h6 class='page-link__title'>About Us</h6>
                                            <p class='small page-link__excerpt'>kajiado acres facilitates direct
                                                dealing with owners and free consultations(we have lawyers and
                                                surveyors with vast experience in kajiado)all our properties are
                                                pre-verified and titles and other documents like maps and mutations
                                                are readily available</p>
                                        </div>
                                    </a>
                                    <a href='careers/index.html' class='page-link after-menu--careers'>
                                        <div class='inline-image page-link__image'
                                            style='background-image:url(app/uploads/2019/03/placeholder-1024x672.jpg);'>
                                        </div>
                                        <div class='page-link__bottom'>
                                            <h6 class='page-link__title'>Careers</h6>
                                            <p class='small page-link__excerpt'>Centrick is an equal opportunities
                                                employer</p>
                                        </div>
                                    </a>
                                    </span></a>
                                </div>
                    </li>
                    <li id="menu-item-50" class="careers menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="careers/index.html"><span class="menu-item--title">Careers</span>
                            <p class="sub small">We’re always on the lookout for exceptional people who thrive in a
                                culture of change and innovation</p>
                        </a>
                    </li>
                    <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                            href="news-insight/index.html"><span class="menu-item--title">News &#038; Insight</span>
                            <p class="sub small">The latest residential property market news and opinions, plus news
                                about Centrick</p>
                        </a></li>
                    <li id="menu-item-538" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                            href="contact-us/index.html"><span class="menu-item--title">Contact us</span>
                            <p class="sub small"></p>
                        </a></li>
                </ul>
            </div>
        </nav>
        <button id="menu-button" class="menu-toggle flex--align-center" aria-label="Mobile menu toggle">
            <span class="menu-button"></span>
        </button>
    </div>
    <div id="navigation" class="mob-nav">
        <div class="mob-nav__buttons">
            <a href="properties/index.html" class="button">Explore Land</a>
            <a href="properties/indexffbb.html?department=commercial" class="button button--darkTeal">Advertise
                Land</a>
            <a href="developments/index.html" class="button button--black">Add a Listing</a>
            <a href="property-valuation/index.html" class="button button--purple">Sign up/Log in</a>
        </div>
        <div class="navigation--wrapper">
            <ul class="mobile-main-menu ">
                <li
                    class="mobile-main-menu__item  mobile-main-menu__item--parent  mobile-main-menu__item--5  mobile-main-menu__item--services">
                    <a href="services/index.html" class="mobile-main-menu__link">Services</a>
                    <ul class="mobile-main-menu__sub-menu mobile-main-menu__sub-menu--1">
                        <li
                            class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--41">
                            <a href=""
                                class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                1</a>
                        </li>
                        <li
                            class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--39">
                            <a href=""
                                class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                2</a>
                        </li>
                        <li
                            class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--43">
                            <a href=""
                                class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                3</a>
                        </li>
                        <li
                            class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--47">
                            <a href=""
                                class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                4</a>
                        </li>
                        <li
                            class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--45">
                            <a href=""
                                class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                5</a>
                        </li>
                        <li
                            class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--7188470">
                            <a href=""
                                class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                6</a>
                        </li>
                        <li
                            class="mobile-main-menu__sub-menu__item mobile-main-menu__sub-menu--1__item  mobile-main-menu__item--7189479">
                            <a href=""
                                class="mobile-main-menu__sub-menu__link  mobile-main-menu__sub-menu--1__link">Service
                                7</a>
                        </li>
                    </ul>
                </li>
                <li class="mobile-main-menu__item  mobile-main-menu__item--7  mobile-main-menu__item--careers"><a
                        href="careers/index.html" class="mobile-main-menu__link">About Us</a></li>
                <li class="mobile-main-menu__item  mobile-main-menu__item--7  mobile-main-menu__item--careers"><a
                        href="careers/index.html" class="mobile-main-menu__link">Careers</a></li>
                <li class="mobile-main-menu__item  mobile-main-menu__item--57"><a href="news-insight/index.html"
                        class="mobile-main-menu__link">News &#038; Insight</a></li>
                <li class="mobile-main-menu__item  mobile-main-menu__item--95"><a href="contact-us/index.html"
                        class="mobile-main-menu__link">Contact us</a></li>
            </ul>
        </div>
    </div>
</header>